{% extends "base.html" %}

{% block scripts %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'Info/Info.css' %}" type="text/css" />
<script src="{% static 'Info/Info.js' %}"></script>
{% endblock %}


{% block head %}
<title id="tittel">Info</title>
{% endblock %}


{% block body %}
<div id="innholdwrapper">

    <div id="oversiktlanse1">
        <ul>

            <li>
                <p id="lansenrlanse1">Lanse ID:</p>

                <p id="lufttemplanse1">Temperatur:</p>

                <p id="relativhlanse1">Relativ luftfuktighet:</p>

                <p id="flowlanse1">Flow:</p>

                <p id="trykklanse1">Trykk:</p>

                <p id="valgtstegnrlanse1">Valgt steg:</p>
            </li>
        </ul>


    </div>

    <div id="oversiktlanse2">
        <ul>
            <li>
                <p id="lansenrlanse2">Lanse ID:</p>

                <p id="lufttemplanse2">Temperatur:</p>

                <p id="relativhlanse2">Relativ luftfuktighet:</p>

                <p id="flowlanse2">Flow:</p>

                <p id="trykklanse2">Trykk:</p>

                <p id="valgtstegnrlanse2">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse3">
        <ul>
            <li>
                <p id="lansenrlanse3">Lanse ID:</p>
                <p id="lufttemplanse3">Temperatur:</p>
                <p id="relativhlanse3">Relativ luftfuktighet:</p>
                <p id="flowlanse3">Flow:</p>
                <p id="trykklanse3">Trykk:</p>
                <p id="valgtstegnrlanse3">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse4">
        <ul>
            <li>
                <p id="lansenrlanse4">Lanse ID:</p>
                <p id="lufttemplanse4">Temperatur:</p>
                <p id="relativhlanse4">Relativ luftfuktighet:</p>
                <p id="flowlanse4">Flow:</p>
                <p id="trykklanse4">Trykk:</p>
                <p id="valgtstegnrlanse4">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse5">
        <ul>
            <li>
                <p id="lansenrlanse5">Lanse ID:</p>
                <p id="lufttemplanse5">Temperatur:</p>
                <p id="relativhlanse5">Relativ luftfuktighet:</p>
                <p id="flowlanse5">Flow:</p>
                <p id="trykklanse5">Trykk:</p>
                <p id="valgtstegnrlanse5">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse6">
        <ul>
            <li>
                <p id="lansenrlanse6">Lanse ID:</p>
                <p id="lufttemplanse6">Temperatur:</p>
                <p id="relativhlanse6">Relativ luftfuktighet:</p>
                <p id="flowlanse6">Flow:</p>
                <p id="trykklanse6">Trykk:</p>
                <p id="valgtstegnrlanse6">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse7">
        <ul>
            <li>
                <p id="lansenrlanse7">Lanse ID:</p>
                <p id="lufttemplanse7">Temperatur:</p>
                <p id="relativhlanse7">Relativ luftfuktighet:</p>
                <p id="flowlanse7">Flow:</p>
                <p id="trykklanse7">Trykk:</p>
                <p id="valgtstegnrlanse7">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse8">
        <ul>
            <li>
                <p id="lansenrlanse8">Lanse ID:</p>
                <p id="lufttemplanse8">Temperatur:</p>
                <p id="relativhlanse8">Relativ luftfuktighet:</p>
                <p id="flowlanse8">Flow:</p>
                <p id="trykklanse8">Trykk:</p>
                <p id="valgtstegnrlanse8">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse9">
        <ul>
            <li>
                <p id="lansenrlanse9">Lanse ID:</p>
                <p id="lufttemplanse9">Temperatur:</p>
                <p id="relativhlanse9">Relativ luftfuktighet:</p>
                <p id="flowlanse9">Flow:</p>
                <p id="trykklanse9">Trykk:</p>
                <p id="valgtstegnrlanse9">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse10">
        <ul>
            <li>
                <p id="lansenrlanse10">Lanse ID:</p>
                <p id="lufttemplanse10">Temperatur:</p>
                <p id="relativhlanse10">Relativ luftfuktighet:</p>
                <p id="flowlanse10">Flow:</p>
                <p id="trykklanse10">Trykk:</p>
                <p id="valgtstegnrlanse10">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse11">
        <ul>
            <li>
                <p id="lansenrlanse11">Lanse ID:</p>
                <p id="lufttemplanse11">Temperatur:</p>
                <p id="relativhlanse11">Relativ luftfuktighet:</p>
                <p id="flowlanse11">Flow:</p>
                <p id="trykklanse11">Trykk:</p>
                <p id="valgtstegnrlanse11">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse12">
        <ul>
            <li>
                <p id="lansenrlanse12">Lanse ID:</p>
                <p id="lufttemplanse12">Temperatur:</p>
                <p id="relativhlanse12">Relativ luftfuktighet:</p>
                <p id="flowlanse12">Flow:</p>
                <p id="trykklanse12">Trykk:</p>
                <p id="valgtstegnrlanse12">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse13">
        <ul>
            <li>
                <p id="lansenrlanse13">Lanse ID:</p>
                <p id="lufttemplanse13">Temperatur:</p>
                <p id="relativhlanse13">Relativ luftfuktighet:</p>
                <p id="flowlanse13">Flow:</p>
                <p id="trykklanse13">Trykk:</p>
                <p id="valgtstegnrlanse13">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse14">
        <ul>
            <li>
                <p id="lansenrlanse14">Lanse ID:</p>
                <p id="lufttemplanse14">Temperatur:</p>
                <p id="relativhlanse14">Relativ luftfuktighet:</p>
                <p id="flowlanse14">Flow:</p>
                <p id="trykklanse14">Trykk:</p>
                <p id="valgtstegnrlanse14">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse15">
        <ul>
            <li>
                <p id="lansenrlanse15">Lanse ID:</p>
                <p id="lufttemplanse15">Temperatur:</p>
                <p id="relativhlanse15">Relativ luftfuktighet:</p>
                <p id="flowlanse15">Flow:</p>
                <p id="trykklanse15">Trykk:</p>
                <p id="valgtstegnrlanse15">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse16">
        <ul>
            <li>
                <p id="lansenrlanse16">Lanse ID:</p>
                <p id="lufttemplanse16">Temperatur:</p>
                <p id="relativhlanse16">Relativ luftfuktighet:</p>
                <p id="flowlanse16">Flow:</p>
                <p id="trykklanse16">Trykk:</p>
                <p id="valgtstegnrlanse16">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse17">
        <ul>
            <li>
                <p id="lansenrlanse17">Lanse ID:</p>
                <p id="lufttemplanse17">Temperatur:</p>
                <p id="relativhlanse17">Relativ luftfuktighet:</p>
                <p id="flowlanse17">Flow:</p>
                <p id="trykklanse17">Trykk:</p>
                <p id="valgtstegnrlanse17">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse18">
        <ul>
            <li>
                <p id="lansenrlanse18">Lanse ID:</p>
                <p id="lufttemplanse18">Temperatur:</p>
                <p id="relativhlanse18">Relativ luftfuktighet:</p>
                <p id="flowlanse18">Flow:</p>
                <p id="trykklanse18">Trykk:</p>
                <p id="valgtstegnrlanse18">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse19">
        <ul>
            <li>
                <p id="lansenrlanse19">Lanse ID:</p>
                <p id="lufttemplanse19">Temperatur:</p>
                <p id="relativhlanse19">Relativ luftfuktighet:</p>
                <p id="flowlanse19">Flow:</p>
                <p id="trykklanse19">Trykk:</p>
                <p id="valgtstegnrlanse19">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse20">
        <ul>
            <li>
                <p id="lansenrlanse20">Lanse ID:</p>
                <p id="lufttemplanse20">Temperatur:</p>
                <p id="relativhlanse20">Relativ luftfuktighet:</p>
                <p id="flowlanse20">Flow:</p>
                <p id="trykklanse20">Trykk:</p>
                <p id="valgtstegnrlanse20">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse21">
        <ul>
            <li>
                <p id="lansenrlanse21">Lanse ID:</p>
                <p id="lufttemplanse21">Temperatur:</p>
                <p id="relativhlanse21">Relativ luftfuktighet:</p>
                <p id="flowlanse21">Flow:</p>
                <p id="trykklanse21">Trykk:</p>
                <p id="valgtstegnrlanse21">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse22">
        <ul>
            <li>
                <p id="lansenrlanse22">Lanse ID:</p>
                <p id="lufttemplanse22">Temperatur:</p>
                <p id="relativhlanse22">Relativ luftfuktighet:</p>
                <p id="flowlanse22">Flow:</p>
                <p id="trykklanse22">Trykk:</p>
                <p id="valgtstegnrlanse22">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse23">
        <ul>
            <li>
                <p id="lansenrlanse23">Lanse ID:</p>
                <p id="lufttemplanse23">Temperatur:</p>
                <p id="relativhlanse23">Relativ luftfuktighet:</p>
                <p id="flowlanse23">Flow:</p>
                <p id="trykklanse23">Trykk:</p>
                <p id="valgtstegnrlanse23">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse24">
        <ul>
            <li>
                <p id="lansenrlanse24">Lanse ID:</p>
                <p id="lufttemplanse24">Temperatur:</p>
                <p id="relativhlanse24">Relativ luftfuktighet:</p>
                <p id="flowlanse24">Flow:</p>
                <p id="trykklanse24">Trykk:</p>
                <p id="valgtstegnrlanse24">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse25">
        <ul>
            <li>
                <p id="lansenrlanse25">Lanse ID:</p>
                <p id="lufttemplanse25">Temperatur:</p>
                <p id="relativhlanse25">Relativ luftfuktighet:</p>
                <p id="flowlanse25">Flow:</p>
                <p id="trykklanse25">Trykk:</p>
                <p id="valgtstegnrlanse25">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse26">
        <ul>
            <li>
                <p id="lansenrlanse26">Lanse ID:</p>
                <p id="lufttemplanse26">Temperatur:</p>
                <p id="relativhlanse26">Relativ luftfuktighet:</p>
                <p id="flowlanse26">Flow:</p>
                <p id="trykklanse26">Trykk:</p>
                <p id="valgtstegnrlanse26">Valgt steg:</p>
            </li>
        </ul>
    </div>

    <div id="oversiktlanse27">
        <ul>
            <li>
                <p id="lansenrlanse27">Lanse ID:</p>
                <p id="lufttemplanse27">Temperatur:</p>
                <p id="relativhlanse27">Relativ luftfuktighet:</p>
                <p id="flowlanse27">Flow:</p>
                <p id="trykklanse27">Trykk:</p>
                <p id="valgtstegnrlanse27">Valgt steg:</p>
            </li>
        </ul>
    </div>

</div>
{% endblock %}