{% extends "base.html" %}

{% block head %}
<title id="tittel">Master</title>
{% endblock %}

{% block scripts %}
{{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'Master/Master.css' %}" type="text/css" />
    <script src="{% static 'Master/Master.js' %}"></script>
{% endblock %}

{% block body %}

<div id="innholdswrappermaster">
    <ul>

        <li><button id="masterauto" onClick="Master_automan(1)">Sett alle lanser i auto</button></li>

        <li><button id="masterman" onClick="Master_automan(0)">Sett alle lanser i manuell</button></li>

    </ul>

</div>

{% endblock %}